<a href="https://colab.research.google.com/github/maraisi/dio.repo/blob/main/Analise%20de%20dados%20com%20Python%20e%20Pandas/aula4_trabalhando_com_planilhas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Trabalhando com arquivos**

In [1]:
import pandas as pd

In [2]:
#leitura de arquivos
df1 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/DATA/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/DATA/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/DATA/Natal.xlsx")
df4 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/DATA/Recife.xlsx")
df5 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/DATA/Salvador.xlsx")

In [3]:
#juntar todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [4]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [5]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [6]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [7]:
#alterando o tipo de dados da coluna LojaID
df["LojaID"] = df["LojaID"].astype('object')
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

**Tratando valores faltantes**

In [8]:
# consulta linha com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [9]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [10]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [11]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)